body {
    background-color: rgb(43, 39, 39);
}
.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-container h1{
    color: whitesmoke;
}

.navigation-container{
    display: flex;
    gap: 0px;
    margin: 0;
    justify-content: space-between;
}
.navigation-container button {
    margin: 0px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(221, 140, 34);
    color: rgb(245, 245, 245);
}
.navigation-container .search-bar input{
    background-color: whitesmoke;
}