body {
    background-color: rgb(43, 39, 39);
    max-width: 100%;
}

.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-container h1{
    color: whitesmoke;
}

.navigation-container{
    display: flex;
    gap: 0px;
    margin: 0;
}
.navigation-container button {
    margin: 0px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(221, 140, 34);
    color: rgb(245, 245, 245);
}
.navigation-container .search-bar input{
    background-color: whitesmoke;
}

.anime-container-list {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid black 2px;
}

.anime-container {
    border: solid black 1px;
    padding: 6rem;
}