body {
    background-color: rgb(43, 39, 39);
}
.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-container h1{
    color: whitesmoke;
}

.navigation-container{
    display: flex;
    gap: 0px;
    margin: 0;
    justify-content: space-between;
}
.navigation-container button {
    margin: 0px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(221, 140, 34);
    color: rgb(245, 245, 245);
}
.navigation-container .search-bar input{
    background-color: whitesmoke;
}

.search-bar {
    display: flex; /* Align children horizontally */
    align-items: center; /* Vertically center items */
    position: relative; /* Ensure positioning of search results is relative to this container */
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Adjust as needed */
}

.search-bar .search-button {
    background-color: transparent;
    border: none;
    padding: 0; /* Remove default padding */
    margin-left: 10px; /* Space between input and button */
    display: flex; /* Flexbox to center image */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Show a pointer cursor on hover */
    transition: box-shadow 0.2s ease, transform 0.2s ease; /* Smooth transition for effects */
}

.search-bar .search-button:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2); /* Inset shadow for pressed effect */
    transform: translateY(1px); /* Move button down to simulate pressing */
}

.search-bar .button-img {
    width: 30px;
    height: 30px; 
}

#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: rgb(221, 140, 34);
    z-index: 1000;
    display: none; /* Hide by default */
}

.result-item {
    padding: 10px;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f1f1f1;
}