body {
    background-color: rgb(43, 39, 39);
    color: whitesmoke;
}

h2 {
    color: rgb(221, 140, 34);
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(73, 68, 68);
    color: whitesmoke;
}

th, td {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: left;
}

th {
    background-color: rgb(221, 140, 34);
    text-align: center;
}

.add-row-btn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.synopsis-container {
    position: relative;
    max-width: 300px;
    max-height: 100px; /* Initial height */
    overflow: hidden;
    padding: 10px;
    color: whitesmoke;
    border: 1px solid #ddd;
    background-color: rgb(73, 68, 68);
    transition: max-height 0.3s ease; /* Smooth transition */
}

.synopsis-container.expanded {
    max-height: none; /* Remove height limit when expanded */
}

.more-button {
    position: absolute;
    bottom: 10px;
    right: 10px; /* Position button inside container */
    padding: 5px 10px;
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.more-button:hover {
    text-decoration: underline;
}
